/* HTML tags */

body{
    background-color:#fafafa;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    margin: 0;
}

table{
    margin-top: 35px;
}

th{
    padding-right: 20px;
}


/* Bootstrap Classes */

.btn:hover{
    text-decoration: none;
}
.btn{
    color: black;
}


/* Local classes */

.blockSty{
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    width: 300px;
    height: 400px;
    margin: 20px;
    float:left;
    border-radius: 2%;
}

.bodyCountri{
    margin-left: 100px;
}

.moreInfo{
    padding: 30px;
    line-height: 10px;
    padding-top: 20px;
}

.heading{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 800;
}


.navbar{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px #ccc;
    margin-bottom: 70px;
}


/* Specified Block Styles */

.inline{
    float:left;
    margin-right: 20px;
}

.specInfo{
    padding: 40px 10px 40px 40px;
    border-radius: 20px;
}

.table-padding{
    padding-right: 100px;
}

.specBTN{
    margin-bottom: 80px;
    background-color: white;
    border: 1px white solid;
    box-shadow: 0 2px 5px #ccc;
    padding-left: 17px;
    padding-right: 20px;
}