/* HTML tags */

body{
    background-color:#fafafa;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    margin: 0;
}

/* Bootstrap Classes */

.btn:hover{
    text-decoration: none;
}
.btn{
    color: black;
}


/* Local classes */

.blockSty{
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    padding: 30px;
    width: 300px;
    height: 300px;
    margin: 16px;
    float:left;
    border-radius: 2%;
}

.bodyCountri{
    margin-left: 100px;
}

.moreInfo{
    line-height: 10px;
    padding-top: 20px;
}

.heading{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 800;
}


.navbar{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px #ccc;
}